.container {
  text-align: center;
}

.newText {
  padding: 10px;
  border: 1px solid #000000;
  margin: 0 10px 30px 0;
  border-radius: 5px;
}

.add {
  padding: 10px;
  border: 1px solid darkgreen;
  color: #fff;
  background: green;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.removeText {
  padding: 5px;
  margin: 5px;
  border: 1px solid darkgreen;
  color: #fff;
  background: green;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.toDo {
  border-radius: 5px;
  margin-left: 40%;
  max-width: 270px;
  background: green;
  color: #fff;
  border: 1px solid darkgreen;
}

